body{
  background-color: cyan;
  background: URL(https://media.wired.com/photos/5a5c5b96e251803428fea37a/16:9/w_1000,c_limit/offset_MartinBailey_19391.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{

  align-content: center;
  text-align: center;
}
#submit{
  text-align: center;
  text-decoration-color: cyan;
  background-color: cyan;
  align-items: center;
  align-content: center;
}
ul{
  list-style: none;
  background-color: black;
  color: white;
  height: 60px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  align-items: center;
}
ul li{
  border-radius: 2em 5px;
  position: relative;
  display: inline-block;
  background-color: grey;
  text-align: center;
  padding-left: 0 px;
  padding-top: 8px;
  float: left;
  margin-left: 0px;
  padding-left: 0px;
  height: 40px;
  width: 20%;
  margin: 5px;
}
ul li:hover{
  border: 10px;
  border-color: white;
  background-color:black;
}
article{
  width: 50%;
  margin: 20px;
  margin-left: 25%;
  align-content: center;
  text-align: center;
  background-color: rgba(5,4,2,0.5);

}
