body{
  background-color: cyan;
  background: URL(https://media.wired.com/photos/5a5c5b96e251803428fea37a/16:9/w_1000,c_limit/offset_MartinBailey_19391.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  align-content: center;
  text-align: center;
}
table{
  align-content: center;
  float:inherit;
  text-align: center;
}
#submit{
  text-align: center;
  text-decoration-color: cyan;
  background-color: cyan;
  align-items: center;
  align-content: center;
}
