<div id="btn1" onclick="alert('hello');">Click Me 1</div>
<div id="btn2">Click Me 2</div>
<div id="btn3">Enter your name</div>
<div id="btn4"> Your name is</div>
<script>
    var name;
    document.getElementById("btn2").addEventListener("click", function () {
        alert('Hello 2');//Test out line breaks//Test out line breaks
    })
    document.getElementById("btn3").addEventListener("click", function () {
      name= prompt('Helllo World');

    })
    document.getElementById("btn4").addEventListener("click",function () {
      alert(name);
    })
</script>
